In [275]:
import numpy as np 
import pandas as pd

In [276]:
movies = pd.read_csv('/content/tmdb_5000_movies.csv')
credits = pd.read_csv('/content/tmdb_5000_credits.csv')

In [277]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [278]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [279]:
movies = movies.merge(credits,on='title')

In [280]:
movies.shape

(4809, 23)

In [281]:
# We want to create tags for recommender systems, columns required for the tags :
# genres, id, keywords, title, overview, production_companies, cast, crew


movies=movies[['movie_id','title','overview','production_companies','genres','keywords','cast','crew']]
movies.head()

,movie_id,title,overview,production_companies,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [282]:
movies.isnull().sum()

movie_id                0
title                   0
overview                3
production_companies    0
genres                  0
keywords                0
cast                    0
crew                    0
dtype: int64

In [283]:
movies.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [284]:
movies.duplicated().sum()

0

In [285]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [286]:
# Given: [{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
# Needed: ['Action', 'Adventure' , 'Fantasy' , 'Science-Fiction']
import ast
def convert(obj): #getting the required format of the columns
  l=[]
  for i in ast.literal_eval(obj): # converts the string dictionary list to dictionary list
    l.append(i['name'])
  return l

In [287]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [288]:
def convertcc(obj):  #getting the top 5 casts of each movie.
  l=[]
  counter=0
  for i in ast.literal_eval(obj):
    if counter!=5:
      l.append(i['name'])
      counter+=1
    else:
      break
  return l

In [289]:
movies['cast'] = movies['cast'].apply(convertcc)

In [290]:
def fetch_dir(obj):
  l=[]
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      l.append(i['name'])
      break
  return l

In [291]:
movies['crew'] =  movies['crew'].apply(fetch_dir)

In [292]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [293]:
def convertprod(obj):  
  l=[]
  counter=0
  for i in ast.literal_eval(obj):
    if counter!=1:
      l.append(i['name'])
      counter+=1
    else:
      break
  return l

In [294]:
movies['production_companies']= movies['production_companies'].apply(convertprod)

In [295]:
movies.head()

,movie_id,title,overview,production_companies,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Ingenious Film Partners],"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Walt Disney Pictures],"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Columbia Pictures],"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Legendary Pictures],"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Walt Disney Pictures],"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [296]:
movies['genres']= movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords']= movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast']= movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew']= movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])
movies['production_companies']= movies['production_companies'].apply(lambda x:[i.replace(" ","") for i in x])

In [297]:
movies.head()

,movie_id,title,overview,production_companies,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[IngeniousFilmPartners],"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[WaltDisneyPictures],"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[ColumbiaPictures],"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[LegendaryPictures],"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[WaltDisneyPictures],"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [298]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['production_companies'] + movies['cast'] + movies['crew']

In [299]:
df= movies[['movie_id','title','tags']]
df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [300]:
df['tags'] =  df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [301]:
df['tags'] = df['tags'].apply(lambda x:x.lower())
df.tags[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d ingeniousfilmpartners samworthington zoesaldana sigourneyweaver stephenlang michellerodriguez jamescameron'

In [302]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [303]:
#stemming
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [304]:
def stem(text):
  y=[]

  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [305]:
df['tags']=df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [306]:
df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

Final Data prepared

In [307]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(df['tags']).toarray()

In [308]:
from sklearn.metrics.pairwise import cosine_similarity

In [309]:
similarity = cosine_similarity(vectors)

In [310]:
sorted(list(enumerate(similarity[1])),reverse=True,key=lambda x:x[1])

[(1, 1.0),
 (12, 0.41337701675024485),
 (199, 0.29083429059274385),
 (17, 0.25728706033149573),
 (3572, 0.20134681656420733),
 (216, 0.19344776406574832),
 (187, 0.18195633571851272),
 (2135, 0.17574991006549873),
 (2521, 0.17139779254776524),
 (57, 0.16967515794730187),
 (848, 0.16861503026429298),
 (109, 0.1643989873053573),
 (129, 0.162746694241347),
 (1077, 0.16120647005479025),
 (1727, 0.16120647005479025),
 (2596, 0.15958626340564364),
 (4010, 0.15949044456578),
 (75, 0.15794943794779692),
 (981, 0.15660307954993902),
 (138, 0.1559625734730109),
 (1664, 0.15499685165842572),
 (1096, 0.1526406277181659),
 (1658, 0.15007505629691603),
 (340, 0.1487044791289829),
 (818, 0.1487044791289829),
 (94, 0.14763464883937316),
 (3355, 0.14704292441876157),
 (3155, 0.14704292441876154),
 (167, 0.1453095484297741),
 (781, 0.1453095484297741),
 (1334, 0.1453095484297741),
 (190, 0.14384911389218763),
 (812, 0.14384911389218763),
 (3219, 0.14349920066683505),
 (91, 0.14309095175803563),
 (1098, 0.14237369936287486),
 (3704, 0.14237369936287486),
 (104, 0.14097096860865022),
 (2583, 0.14097096860865022),
 (412, 0.14091341769030624),
 (3971, 0.14019992744655632),
 (778, 0.13812277665483924),
 (24, 0.13513513513513514),
 (987, 0.13513513513513514),
 (1679, 0.13513513513513514),
 (3428, 0.13513513513513514),
 (61, 0.1342312110428049),
 (3055, 0.1342312110428049),
 (3008, 0.13334518676566626),
 (1906, 0.1330053295564418),
 (98, 0.1316245316231641),
 (105, 0.13151918984428584),
 (1194, 0.13151918984428584),
 (543, 0.12996881122750908),
 (894, 0.12996881122750908),
 (3622, 0.12996881122750908),
 (325, 0.1289651760438322),
 (329, 0.1283740414907742),
 (1675, 0.12834958696317053),
 (193, 0.1277427297244359),
 (14, 0.12683657235796025),
 (773, 0.12655439943366653),
 (276, 0.12427395320024),
 (359, 0.12427395320024),
 (2106, 0.12427395320024),
 (4220, 0.12427395320024),
 (191, 0.12392039927415242),
 (330, 0.12392039927415242),
 (508, 0.12392039927415242),
 (310, 0.12372284647942376),
 (106, 0.12329924047901797),
 (1444, 0.12329924047901797),
 (1878, 0.12329924047901797),
 (1297, 0.12253577034896798),
 (2120, 0.1221125021745327),
 (38, 0.12141669877745292),
 (1623, 0.12119654139092992),
 (1831, 0.12119654139092992),
 (1306, 0.12006004503753284),
 (2658, 0.12006004503753284),
 (7, 0.11990028442779209),
 (784, 0.11990028442779209),
 (962, 0.11990028442779209),
 (1715, 0.11961783342433499),
 (2480, 0.11961783342433499),
 (3288, 0.11961783342433499),
 (88, 0.11810771907149853),
 (389, 0.11810771907149853),
 (581, 0.11810771907149853),
 (664, 0.11810771907149853),
 (3834, 0.11810771907149853),
 (755, 0.11789662378377888),
 (587, 0.11742784807525519),
 (1651, 0.11742784807525519),
 (47, 0.11706342165578529),
 (960, 0.11624763874381927),
 (972, 0.11624763874381927),
 (1261, 0.11624763874381927),
 (171, 0.11510231387903269),
 (1617, 0.11510231387903269),
 (85, 0.11507929111375009),
 (3862, 0.11466596451673744),
 (384, 0.1144727614064285),
 (973, 0.1144727614064285),
 (3333, 0.1139901881468883),
 (3371, 0.1139901881468883),
 (62, 0.11314714296070713),
 (583, 0.11314714296070713),
 (3721, 0.11314714296070713),
 (4056, 0.11314714296070713),
 (1148, 0.11290968804428624),
 (66, 0.11290968804428622),
 (124, 0.11290968804428622),
 (50, 0.11277677488692017),
 (122, 0.11277677488692017),
 (457, 0.11277677488692017),
 (931, 0.11277677488692017),
 (821, 0.11230588859277421),
 (53, 0.11185934253567072),
 (3431, 0.111687118657491),
 (232, 0.11115400287534567),
 (1700, 0.11115400287534567),
 (2169, 0.11115400287534567),
 (2661, 0.11115400287534567),
 (2906, 0.11115400287534567),
 (3498, 0.11115400287534567),
 (30, 0.11083777463036817),
 (169, 0.11083777463036817),
 (2302, 0.11083777463036816),
 (81, 0.11028219331407116),
 (913, 0.11028219331407116),
 (2297, 0.11028219331407116),
 (3636, 0.11028219331407116),
 (3730, 0.11028219331407116),
 (4443, 0.11028219331407116),
 (158, 0.10984369379093671),
 (227, 0.10959932487023819),
 (315, 0.10959932487023819),
 (859, 0.10959932487023819),
 (127, 0.10959932487023817),
 (5, 0.10887588907733556),
 (262, 0.10887588907733556),
 (1825, 0.10825749066949579),
 (46, 0.10810810810810811),
 (121, 0.10810810810810811),
 (1269, 0.10810810810810811),
 (143, 0.10793322294408637),
 (694, 0.10793322294408637),
 (2370, 0.10793322294408637),
 (55, 0.1076244005001263),
 (627, 0.10762440050012628),
 (1769, 0.10762440050012628),
 (19, 0.10701462561817378),
 (234, 0.10701462561817378),
 (1848, 0.10701462561817378),
 (342, 0.1069894427432238),
 (3377, 0.10684843940271613),
 (15, 0.1061190899945022),
 (32, 0.1061190899945022),
 (126, 0.10529962529853128),
 (472, 0.10529962529853128),
 (646, 0.10529962529853128),
 (1719, 0.10529962529853128),
 (2683, 0.10529962529853128),
 (2841, 0.10529962529853128),
 (403, 0.10524566699352861),
 (3158, 0.10439346133241541),
 (79, 0.1043934613324154),
 (72, 0.10397504898200727),
 (922, 0.10397504898200727),
 (2544, 0.10397504898200727),
 (2686, 0.10397504898200727),
 (3025, 0.10397504898200727),
 (3152, 0.10397504898200727),
 (3587, 0.10397504898200725),
 (48, 0.10356162766686666),
 (25, 0.10340217933878712),
 (3781, 0.10283867552865916),
 (22, 0.10283867552865913),
 (1488, 0.10283867552865913),
 (4216, 0.10283867552865913),
 (4290, 0.10283867552865913),
 (4611, 0.10283867552865913),
 (3724, 0.10274936706584831),
 (131, 0.10269923319261937),
 (1037, 0.10269923319261937),
 (3102, 0.10269923319261937),
 (1103, 0.10195592378577323),
 (26, 0.10146925788636821),
 (659, 0.10146925788636821),
 (792, 0.10146925788636821),
 (1293, 0.10146925788636821),
 (1653, 0.10146925788636821),
 (4203, 0.10067340828210367),
 (4623, 0.10067340828210367),
 (222, 0.10042266465917388),
 (2904, 0.10042266465917388),
 (40, 0.10028244211278005),
 (349, 0.10028244211278005),
 (361, 0.10028244211278005),
 (3358, 0.10028244211278005),
 (103, 0.09968152785361249),
 (168, 0.09913631941932194),
 (2436, 0.09913631941932194),
 (3701, 0.09913631941932194),
 (209, 0.09863939238321438),
 (1884, 0.09863939238321438),
 (3674, 0.09863939238321438),
 (4497, 0.09863939238321438),
 (10, 0.09802861627917438),
 (71, 0.09802861627917438),
 (334, 0.09802861627917438),
 (1131, 0.09802861627917438),
 (1367, 0.09802861627917438),
 (3646, 0.09802861627917438),
 (1426, 0.09755285137982107),
 (486, 0.0971922812955171),
 (1195, 0.09695723311274393),
 (2215, 0.09695723311274393),
 (263, 0.09672388203287416),
 (267, 0.09672388203287416),
 (695, 0.09672388203287416),
 (715, 0.09672388203287416),
 (935, 0.09672388203287416),
 (1262, 0.09672388203287416),
 (2932, 0.09672388203287416),
 (3133, 0.09672388203287416),
 (3826, 0.09672388203287416),
 (569, 0.09592022754223367),
 (1938, 0.09592022754223367),
 (2852, 0.09592022754223367),
 (2005, 0.09555497043061453),
 (240, 0.09491579957524991),
 (870, 0.09491579957524991),
 (1871, 0.09491579957524991),
 (3407, 0.09491579957524991),
 (3907, 0.09491579957524991),
 (4405, 0.09491579957524991),
 (4701, 0.09491579957524991),
 (35, 0.0949157995752499),
 (90, 0.0949157995752499),
 (1686, 0.0949157995752499),
 (2531, 0.0949157995752499),
 (3857, 0.0949157995752499),
 (4403, 0.0949157995752499),
 (607, 0.09491579957524988),
 (3892, 0.09491579957524987),
 (391, 0.09428928580058928),
 (4048, 0.09428928580058928),
 (1609, 0.09428928580058926),
 (2049, 0.09427662867108726),
 (9, 0.09394227846020416),
 (41, 0.09394227846020416),
 (97, 0.09394227846020416),
 (136, 0.09394227846020416),
 (339, 0.09394227846020416),
 (566, 0.09394227846020416),
 (636, 0.09394227846020416),
 (933, 0.09394227846020416),
 (942, 0.09394227846020416),
 (1061, 0.09394227846020416),
 (2488, 0.09394227846020416),
 (4689, 0.09394227846020416),
 (31, 0.09320546490018),
 (33, 0.09320546490018),
 (208, 0.09320546490018),
 (660, 0.09320546490018),
 (1474, 0.09320546490018),
 (1721, 0.09320546490018),
 (1976, 0.09320546490018),
 (2228, 0.09320546490018),
 (3968, 0.09320546490018),
 (4196, 0.09320546490018),
 (206, 0.0930725988812425),
 (4307, 0.0930725988812425),
 (4, 0.09299811099505542),
 (243, 0.09299811099505542),
 (788, 0.09299811099505542),
 (1592, 0.09299811099505542),
 (1701, 0.09299811099505542),
 (2835, 0.09299811099505542),
 (3099, 0.09299811099505542),
 (304, 0.0927335354632217),
 (125, 0.09213717213621486),
 (271, 0.09208185110322616),
 (596, 0.09208185110322616),
 (1233, 0.09208185110322616),
 (2820, 0.09208185110322616),
 (1678, 0.09190182776172598),
 (2651, 0.09158437663089952),
 (2887, 0.09158437663089952),
 (3999, 0.09158437663089952),
 (4099, 0.09158437663089952),
 (150, 0.09133277072519848),
 (331, 0.09119215051751065),
 (813, 0.09119215051751065),
 (1003, 0.09119215051751065),
 (1218, 0.09119215051751065),
 (1272, 0.09119215051751065),
 (1276, 0.09119215051751065),
 (2315, 0.09119215051751065),
 (3595, 0.09119215051751065),
 (3795, 0.09119215051751065),
 (3910, 0.09119215051751065),
 (4348, 0.09119215051751065),
 (2790, 0.09077415526644964),
 (3947, 0.09077415526644964),
 (13, 0.09032775043542898),
 (758, 0.09032775043542898),
 (1977, 0.09032775043542898),
 (3540, 0.09032775043542898),
 (3762, 0.09032775043542898),
 (4451, 0.09032775043542898),
 (59, 0.0902256659231352),
 (68, 0.09004503377814962),
 (358, 0.09004503377814962),
 (483, 0.09004503377814962),
 (794, 0.09004503377814962),
 (1147, 0.09004503377814962),
 (1408, 0.09004503377814962),
 (1626, 0.09004503377814962),
 (2251, 0.09004503377814962),
 (2396, 0.09004503377814962),
 (4129, 0.09004503377814962),
 (4693, 0.09004503377814962),
 (1641, 0.08968700041677191),
 (58, 0.08948747402853657),
 (215, 0.08948747402853657),
 (1783, 0.08948747402853657),
 (2035, 0.08948747402853657),
 (2404, 0.08948747402853657),
 (3788, 0.08948747402853657),
 (3817, 0.08948747402853657),
 (4423, 0.08948747402853657),
 (115, 0.08867021970429453),
 (1239, 0.08867021970429453),
 (2133, 0.08867021970429453),
 (2713, 0.08867021970429453),
 (3380, 0.08867021970429453),
 (3879, 0.08867021970429453),
 (511, 0.0885807893036239),
 (1004, 0.0885807893036239),
 (1047, 0.0885807893036239),
 (1440, 0.0885807893036239),
 (2075, 0.0885807893036239),
 (2950, 0.0885807893036239),
 (3322, 0.0885807893036239),
 (3890, 0.0885807893036239),
 (4781, 0.0885807893036239),
 (2032, 0.08812710750235653),
 (420, 0.08787495503274936),
 (649, 0.08787495503274936),
 (827, 0.08787495503274936),
 (1250, 0.08787495503274936),
 (2880, 0.08787495503274936),
 (3018, 0.08787495503274936),
 (3229, 0.08787495503274936),
 (4736, 0.08787495503274936),
 (4764, 0.08787495503274936),
 (3000, 0.0876249546540977),
 (23, 0.08718572905786445),
 (117, 0.08718572905786445),
 (392, 0.08718572905786445),
 (597, 0.08718572905786445),
 (1027, 0.08718572905786445),
 (270, 0.08710071126186844),
 (618, 0.0863465783552691),
 (717, 0.0863465783552691),
 (746, 0.0863465783552691),
 (2354, 0.0863465783552691),
 (3309, 0.0863465783552691),
 (142, 0.08585457105482137),
 (220, 0.08585457105482137),
 (292, 0.08585457105482137),
 (691, 0.08585457105482137),
 (736, 0.08585457105482137),
 (745, 0.08585457105482137),
 (1142, 0.08585457105482137),
 (1363, 0.08585457105482137),
 (1649, 0.08585457105482137),
 (1713, 0.08585457105482137),
 (3034, 0.08585457105482137),
 (4560, 0.08585457105482137),
 (730, 0.08569889627388261),
 (572, 0.08561170049453902),
 (612, 0.08561170049453902),
 (1020, 0.08561170049453902),
 (1452, 0.08561170049453902),
 (1979, 0.08561170049453902),
 (4751, 0.08561170049453902),
 (1634, 0.08523690424912797),
 (2960, 0.08489527199560179),
 (425, 0.08489527199560176),
 (443, 0.08489527199560176),
 (471, 0.08489527199560176),
 (2856, 0.08489527199560176),
 (2968, 0.08489527199560176),
 (3378, 0.08489527199560176),
 (4502, 0.08489527199560176),
 (4564, 0.08489527199560176),
 (4568, 0.08489527199560176),
 (4737, 0.08489527199560176),
 (379, 0.08478230418508759),
 (260, 0.08458258116519013),
 (294, 0.08458258116519013),
 (427, 0.08458258116519013),
 (461, 0.08458258116519013),
 (840, 0.08458258116519013),
 (1404, 0.08458258116519013),
 (1982, 0.08458258116519013),
 (1983, 0.08458258116519013),
 (2826, 0.08458258116519013),
 (3347, 0.08458258116519013),
 (3354, 0.08458258116519013),
 (3386, 0.08458258116519013),
 (27, 0.08419653359482289),
 (305, 0.08419653359482289),
 (467, 0.08419653359482289),
 (84, 0.08351476906593233),
 (273, 0.08351476906593233),
 (1093, 0.08351476906593233),
 (1396, 0.08351476906593233),
 (3344, 0.08351476906593233),
 (786, 0.08336550215650926),
 (1749, 0.08336550215650926),
 (1796, 0.08336550215650926),
 (1985, 0.08336550215650926),
 (2337, 0.08336550215650926),
 (2496, 0.08336550215650926),
 (2662, 0.08336550215650926),
 (2865, 0.08336550215650926),
 (3137, 0.08336550215650926),
 (3228, 0.08336550215650926),
 (3318, 0.08336550215650926),
 (3802, 0.08336550215650926),
 (1851, 0.08303402767415663),
 (326, 0.08219949365267865),
 (352, 0.08219949365267865),
 (530, 0.08219949365267865),
 (547, 0.08219949365267865),
 (654, 0.08219949365267865),
 (661, 0.08219949365267865),
 (866, 0.08219949365267865),
 (1346, 0.08219949365267865),
 (1406, 0.08219949365267865),
 (1862, 0.08219949365267865),
 (1945, 0.08219949365267865),
 (2128, 0.08219949365267865),
 (2773, 0.08219949365267865),
 (3470, 0.08219949365267865),
 (3527, 0.08219949365267865),
 (3761, 0.08219949365267865),
 (3854, 0.08219949365267865),
 (3903, 0.08219949365267865),
 (4572, 0.08219949365267865),
 (4602, 0.08219949365267865),
 (4626, 0.08219949365267865),
 (949, 0.08156473902861858),
 (2804, 0.08156473902861858),
 (39, 0.08108108108108109),
 (152, 0.08108108108108109),
 (332, 0.08108108108108109),
 (716, 0.08108108108108109),
 (764, 0.08108108108108109),
 (805, 0.08108108108108109),
 (830, 0.08108108108108109),
 (1196, 0.08108108108108109),
 (1237, 0.08108108108108109),
 (1362, 0.08108108108108109),
 (1827, 0.08108108108108109),
 (1960, 0.08108108108108109),
 (2028, 0.08108108108108109),
 (2149, 0.08108108108108109),
 (3409, 0.08108108108108109),
 (3851, 0.08108108108108109),
 (517, 0.08094446585163528),
 (1405, 0.08094446585163528),
 (469, 0.0803381317273391),
 (2029, 0.0803381317273391),
 (2643, 0.0803381317273391),
 (2752, 0.0803381317273391),
 (4382, 0.0803381317273391),
 (37, 0.08000711205939975),
 (164, 0.08000711205939975),
 (241, 0.08000711205939975),
 (544, 0.08000711205939975),
 (2072, 0.08000711205939975),
 (3011, 0.08000711205939975),
 (3166, 0.08000711205939975),
 (3685, 0.08000711205939975),
 (139, 0.07974522228289),
 (381, 0.07974522228289),
 (1139, 0.07974522228289),
 (1503, 0.07974522228289),
 (1621, 0.07974522228289),
 (1673, 0.07974522228289),
 (1828, 0.07974522228289),
 (1924, 0.07974522228289),
 (2274, 0.07974522228289),
 (2331, 0.07974522228289),
 (921, 0.07916524933276792),
 (4719, 0.07916524933276792),
 (16, 0.07897471897389846),
 (1325, 0.07897471897389846),
 (2858, 0.07897471897389846),
 (3320, 0.07897471897389846),
 (3340, 0.07897471897389846),
 (4316, 0.07897471897389846),
 (286, 0.07859774918918593),
 (1775, 0.07859774918918593),
 (1238, 0.07804228110385686),
 (1282, 0.07804228110385686),
 (0, 0.07798128673650545),
 (485, 0.07798128673650545),
 (1015, 0.07798128673650545),
 (1535, 0.07798128673650545),
 (1614, 0.07798128673650545),
 (1746, 0.07798128673650545),
 (1792, 0.07798128673650545),
 (2143, 0.07798128673650545),
 (2973, 0.07798128673650545),
 (3037, 0.07798128673650545),
 (3874, 0.07798128673650545),
 (246, 0.07749842582921286),
 (892, 0.07749842582921286),
 (1464, 0.07749842582921286),
 (3832, 0.07749842582921286),
 (4390, 0.07749842582921286),
 (307, 0.07732677904963985),
 (207, 0.07702442489446452),
 (242, 0.07702442489446452),
 (322, 0.07702442489446452),
 (492, 0.07702442489446452),
 (731, 0.07702442489446452),
 (835, 0.07702442489446452),
 (2108, 0.07702442489446452),
 (2211, 0.07702442489446452),
 (2224, 0.07702442489446452),
 (2916, 0.07702442489446452),
 (3366, 0.07702442489446452),
 (3601, 0.07702442489446452),
 (4090, 0.07702442489446452),
 (374, 0.07696578428840449),
 (1135, 0.07696578428840449),
 (1216, 0.07696578428840449),
 (1813, 0.07696578428840449),
 (551, 0.07644397634449163),
 (4314, 0.07644397634449163),
 (4711, 0.07644397634449163),
 (4529, 0.07632945346918206),
 (2668, 0.07632031385908294),
 (96, 0.07610194341477616),
 (174, 0.07610194341477616),
 (312, 0.07610194341477616),
 (369, 0.07610194341477616),
 (711, 0.07610194341477616),
 (793, 0.07610194341477616),
 (1451, 0.07610194341477616),
 (1523, 0.07610194341477616),
 (1612, 0.07610194341477616),
 (2181, 0.07610194341477616),
 (2450, 0.07610194341477616),
 (3091, 0.07610194341477616),
 (3440, 0.07610194341477616),
 (411, 0.07610194341477615),
 (205, 0.07543142864047142),
 (238, 0.07543142864047142),
 (584, 0.07543142864047142),
 (858, 0.07543142864047142),
 (1770, 0.07543142864047142),
 (2548, 0.07543142864047142),
 (2674, 0.07543142864047142),
 (3063, 0.07543142864047142),
 (4542, 0.07543142864047142),
 (4612, 0.07543142864047142),
 (78, 0.07521183158458504),
 (101, 0.07521183158458504),
 (651, 0.07521183158458504),
 (1009, 0.07521183158458504),
 (1608, 0.07521183158458504),
 (2163, 0.07521183158458504),
 (3538, 0.07521183158458504),
 (4187, 0.07521183158458504),
 (4336, 0.07521183158458504),
 (1417, 0.07494001345079687),
 (197, 0.074458079104994),
 (1109, 0.07435223956449145),
 (1198, 0.07435223956449145),
 (1369, 0.07435223956449145),
 (2056, 0.07435223956449145),
 (2345, 0.07435223956449145),
 (2828, 0.07435223956449145),
 (2984, 0.07435223956449145),
 (3935, 0.07435223956449145),
 (4148, 0.07435223956449145),
 (697, 0.07398532461669939),
 (2598, 0.07398532461669939),
 (610, 0.07381732441968658),
 (52, 0.07352146220938079),
 (111, 0.07352146220938079),
 (291, 0.07352146220938079),
 (503, 0.07352146220938079),
 (643, 0.07352146220938079),
 (1299, 0.07352146220938079),
 (2352, 0.07352146220938079),
 (2492, 0.07352146220938079),
 (2765, 0.07352146220938079),
 (2988, 0.07352146220938079),
 (3478, 0.07352146220938079),
 (189, 0.07352146220938077),
 (776, 0.07352146220938077),
 (850, 0.07352146220938077),
 (1010, 0.07352146220938077),
 (1209, 0.07352146220938077),
 (1421, 0.07352146220938077),
 (2335, 0.07352146220938077),
 (2999, 0.07352146220938077),
 (3567, 0.07352146220938077),
 (4131, 0.07352146220938077),
 (4641, 0.07352146220938077),
 (4645, 0.07352146220938077),
 (1477, 0.07306621658015879),
 (4162, 0.07306621658015879),
 (36, 0.07271792483455794),
 (480, 0.07271792483455794),
 (514, 0.07271792483455794),
 (959, 0.07271792483455794),
 (1118, 0.07271792483455794),
 (1204, 0.07271792483455794),
 (1565, 0.07271792483455794),
 (1625, 0.07271792483455794),
 (3255, 0.07271792483455794),
 (3475, 0.07271792483455794),
 (3719, 0.07271792483455794),
 (1552, 0.07261932421315971),
 (178, 0.07194017065667525),
 (549, 0.07194017065667525),
 (658, 0.07194017065667525),
 (722, 0.07194017065667525),
 (1970, 0.07194017065667525),
 (2009, 0.07194017065667525),
 (2382, 0.07194017065667525),
 (2617, 0.07194017065667525),
 (2701, 0.07194017065667525),
 (2924, 0.07194017065667525),
 (3501, 0.07194017065667525),
 (4287, 0.07194017065667525),
 (4508, 0.07194017065667525),
 (466, 0.07174960033341753),
 (939, 0.07174960033341753),
 (995, 0.07174960033341753),
 (1323, 0.07174960033341753),
 (1524, 0.07174960033341753),
 (1575, 0.07174960033341753),
 (2115, 0.07174960033341753),
 (2212, 0.07174960033341753),
 (2640, 0.07174960033341753),
 (3077, 0.07174960033341753),
 (2448, 0.0713262951621492),
 (803, 0.07118684968143743),
 (841, 0.07118684968143743),
 (932, 0.07118684968143743),
 (994, 0.07118684968143743),
 (1340, 0.07118684968143743),
 (1786, 0.07118684968143743),
 (1883, 0.07118684968143743),
 (2095, 0.07118684968143743),
 (3422, 0.07118684968143743),
 (3611, 0.07118684968143743),
 (3666, 0.07118684968143743),
 (3732, 0.07091039485189417),
 (11, 0.07045670884515312),
 (175, 0.07045670884515312),
 (182, 0.07045670884515312),
 (728, 0.07045670884515312),
 (1537, 0.07045670884515312),
 (1632, 0.07045670884515312),
 (1692, 0.07045670884515312),
 (2831, 0.07045670884515312),
 (4180, 0.07045670884515312),
 (4337, 0.07045670884515312),
 (4343, 0.07045670884515312),
 (172, 0.07009996372327816),

In [318]:
def recommend(movie):
  movie_index = df[df['title']== movie].index[0]
  distances = similarity[movie_index]
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

  for i in movies_list:
    print(df.iloc[i[0]].title)

In [330]:
recommend('Halloween')

Black Christmas
Valentine
Hayride
Hannibal Rising
Sinister

In [331]:
recommend('The Dark Knight Rises')

The Dark Knight
Batman Begins
Batman Returns
Batman
Batman Forever

In [333]:
import pickle 
pickle.dump(df.to_dict(),open('movie_dict.pkl','wb'))

In [334]:
pickle.dump(similarity,open('similarity.pkl','wb'))